.task-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 1px solid $clr6;
  width: 80%;
  margin: auto;
  
  td, th {
    border: 1px solid $clr6;
    padding: 8px;
    text-align: left;

    &.action-td {
      width: 90px;
    }
    &.tries-td {
      width: 80px;
    }
    &.status-td {
      width: 85px;
    }
    &.importance-td{
      width: 120px;
    }
  }

  
  
  tr:nth-child(even){
    background-color: $clr2;
  }
  
  tr:hover {
    background-color: $clr6;
  }
  
  tr{
    height: 55px;

    &.opened-tr {
      background-color:#ddd ;
      position: relative;
    }
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $clrTag1;
    color: $clr5;
    cursor: pointer;
    position: relative;

    &:hover:not(:last-of-type):after {
      width: 15px;
      position: absolute;
      right: 5px;
      top: 25px;
      opacity: 0.6;
      content:'↓'
    }
  }

  .more-info {
    padding-top: 5px;
    color: rgb(88, 88, 88);
  }

  .done {
    color: $clrTag4;
  }

  .fail {
    color: $clrTag5;
  }

  .running {
    color: $clrTag6;
  }
  p{
    margin: 3px 0;
  }
}